/* home page */

.home-body{
    font-family: sans-serif;
    background: linear-gradient(135deg, rgb(111, 240, 250) 0%, rgb(248, 230, 93) 60%, rgba(245,113,255,1) 100%);
}

.detail-body{
    font-family: sans-serif;
    background-color: rgba(245, 245, 220, 0.628);
}

#nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(207, 71, 248, 0.315);
}

.detail-nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: linear-gradient(135deg, rgb(111, 240, 250) 0%, rgb(248, 230, 93) 60%, rgba(245,113,255,1) 100%);
}

#logo{
    margin: 30px;
    color: white;
}

#menu{
    display: flex;
    gap: 30px;
    margin: 30px;
    color: white;
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

#home-box{
    display:flex;
    flex-direction: column;
}

#hero-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

#hero{
    width:100%;
    filter: brightness(40%);
}

.slogan{
    position: absolute;
    color: white;
    font-size: 40px;
    margin: 50px;
    text-align: center;
}

#button-box{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

.genre{
    display: flex;
    width: 40%;
    display: box;
    box-align: center;
    align-items: center;
    box-pack: center;
    justify-content: center;
    transition: transform .2s ease;
}

.genre-label{
    position: absolute;
    color: white;
    font-size: 30px;
    margin: 50px;
    text-align: center;
}

.button{
    width: 100%;
    border-radius: 20px;
    filter: drop-shadow(4px 4px 4px #a7a7a7) brightness(40%);
}

.genre:hover {
    transform: scale(1.03); 
  }


/* HIPHOP */
#body-box{
    display: flex;
    flex-direction: column;
}

.row-box{
    display: flex;
}

.row-flex{
    display: flex;
    flex: 1 1;
}

.card-box{
    margin: 30px;
    transition: transform .2s ease;
    padding: 20px;
    flex: 1 1;
}

.card-box:hover{
    transform: scale(1.03);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.image{
    width: 100%;
    margin-bottom: 10px;
}

.beginner{
    background-color: rgb(247, 185, 249);
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
    font-size: 10px;
}

.intermediate{
    background-color: rgb(250, 243, 139);
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
    font-size: 10px;
}

.advanced{
    background-color: rgb(152, 250, 139);
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
    font-size: 10px;
}

.hour{
    background-color: rgb(139, 250, 243);
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
    margin-left: 3px;
    font-size: 10px;
}

.name{
    font-size: 20px;
    margin-top: 10px;
}

.description{
    margin-top: 20px;
    color: rgb(98, 98, 98);
}

.label{
    display: flex;
}

.ig-logo{
    margin-top: 10px;
    width: 12%;
}

#foundations:hover{
    content: url("assets/gif/foundations.gif");
}

#kasa:hover{
    content: url("assets/gif/kasa.gif");
}

#modernx:hover{
    content: url("assets/gif/modernx.gif");
}

#kcn:hover{
    content: url("assets/gif/kcn.gif");
}

#vsu:hover{
    content: url("assets/gif/vsu.gif");
}

#nsu:hover{
    content: url("assets/gif/nsu.gif");
}

#samahang:hover{
    content: url("assets/gif/samahang.gif");
}

#aca:hover{
    content: url("assets/gif/aca.gif");
}

#kbm:hover{
    content: url("assets/gif/kbm.gif");
}

#seoula:hover{
    content: url("assets/gif/seoula.gif");
}

#koreos:hover{
    content: url("assets/gif/koreos.gif");
}

#playground:hover{
    content: url("assets/gif/playground.gif");
}


@media only screen and (max-width:1030px){
    #hero-box{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
    }
    
    .slogan{
        position: absolute;
        color: white;
        font-size: 20px;
        margin: 50px;
        text-align: center;
    }
    
    #button-box{
        display: flex;
        flex-direction: column;
        width: 100%;
        row-gap: 30px;
        align-items: center;
    }

    .genre{
        display: flex;
        width: 50%;
        transition: transform .2s ease;
    }

    .row-box{
        display: flex;
        flex: 1 1;
        flex-direction: column;
    }

    .row-flex{
        display: flex;
        flex: 1 1;
    }
    
    .card-box{
        display: flex;
        flex-direction: column;
        margin: 30px;
        transition: transform .2s ease;
        padding: 20px;
        flex: 1 1;
    }

}
