/* home page */

body{
    font-family: sans-serif;
    background: linear-gradient(135deg, rgb(111, 240, 250) 0%, rgb(248, 230, 93) 60%, rgba(245,113,255,1) 100%);
}

#nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(27, 13, 42);
}

#logo{
    margin: 30px;
    color: white;
}

#menu{
    display: flex;
    gap: 30px;
    margin: 30px;
    color: white;
}

#home-box{
    display:flex;
    flex-direction: column;
}

#hero-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

#hero{
    width:100%;
    filter: brightness(40%);
}

.slogan{
    position: absolute;
    color: white;
    font-size: 40px;
    margin: 50px;
    text-align: center;
}

#button-box{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

.genre{
    display: flex;
    width: 40%;
    display: box;
    box-align: center;
    align-items: center;
    box-pack: center;
    justify-content: center;
    transition: transform .2s ease;
}

.genre-label{
    position: absolute;
    color: white;
    font-size: 30px;
    margin: 50px;
    text-align: center;
}

.button{
    width: 100%;
    border-radius: 20px;
    filter: drop-shadow(4px 4px 4px #a7a7a7) brightness(40%);
}

.genre:hover {
    transform: scale(1.03); 
  }